<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=desktop-apuui14\sqlexpress;Initial Catalog=Test;Trusted_Connection = True" />
    <add name="Customer_Information_Center.Properties.Settings.TestConnectionString"
      connectionString="Data Source=desktop-apuui14\sqlexpress;Initial Catalog=Test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CrudCenter.Properties.Settings.AllCustomerInfoConnectionString"
      connectionString="Data Source=desktop-apuui14\sqlexpress;Initial Catalog=Test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>